* {
	color: white;
	font-family: Arial;
}

body {
	background-color: #346;
}

#title {
	margin: 20px auto 20px auto;
	font-size: 60px;
	color: white;
	font-family: Arial;
	font-weight: 600;
}

#gameContainer {
	width: 650px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#goal-wrapper {
	float: left;
	height: 300px;
}

#goal {
	background-color: #44494F;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	width: 160px;
	height: 225px;
	box-shadow: 0px 10px 10px #223;
}

#goal h3 {
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 1px;
}

#goal-grid {
	margin: 0 auto;
}

#game-grid {
	float: right;
	background-color: #44494F;
	border-radius: 20px;
	width: 450px;
	height: 450px;
	box-shadow: 0px 20px 30px #223;
}

#YouWin {
	font-size: 120px;
	color: #0F0;
	width: 150px;
	height: 150px;
	text-align: center;
	vertical-align: middle;
	line-height: 150px;
	margin: 50px auto 0 auto;
}

#touch-control {
	max-width: 800px;
	height: 300px;
	margin: 10px auto;
	border-spacing: 8px 8px;
}

.table {
	display: table;
}

.row {
	display: table-row;
	width: 100px;
}

.cell {
	display: table-cell;
}

#instruction {
	background-color: #44494F;
	border-radius: 10px;
	margin: 0 auto;
	padding: 1px 20px 20px 20px;
	width: 600px;
	box-shadow: 0px 10px 10px #223;
	color: white;
}

#instruction h3 {
	font-weight: bold;
}

[id^=cell] {
	width: 140px;
	height: 140px;
	border: 6px #44494F solid;
}

[id^=target] {
	width: 40px;
	height: 40px;
	border: 2px #44494F solid;
}

[id$=Button] {
	width: 150px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none;
	cursor: pointer;
	background-color: #44494F;
	border-radius: 20px;
	box-shadow: 0px 5px 5px #223;
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
	font-size: 60px;
	font-weight: bold;
	margin: 10px;
}

#Reset-Button {
	font-size: 20px;
}

#target1 {
	border-top-left-radius: 5px;
}

#target3 {
	border-top-right-radius: 5px;
}

#target7 {
	border-bottom-left-radius: 5px;
}

#target9 {
	border-bottom-right-radius: 5px;
}

#cell1 {
	border-top-left-radius: 15px;
}

#cell3 {
	border-top-right-radius: 15px;
}

#cell7 {
	border-bottom-left-radius: 15px;
}

#cell9 {
	border-bottom-right-radius: 15px;
}
