body {
	background-color: #346;
}

#title {
	margin: 20px auto;
	font-size: 60px;
	color: white;
	font-family: Arial;
	font-weight: 600;
}

#gameContainer {
	width: 850px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
}

#goal-wrapper {
	position: relative;
	float: left;
	width: 160px;
	height: 400px;
}

#goal {
	background-color: #44494F;
	border-radius: 10px;
	padding: 1px 20px 0;
	width: 160px;
	height: 225px;
	box-shadow: 0 10px 10px #223;
	color: white;
}

#goal h3 {
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 5px;
}

#goal hr {
	margin-top: 0;
	padding: 0;
}

#game-grid {
	float: right;
	background-color: #44494F;
	border-radius: 20px;
	width: 650px;
	height: 650px;
	padding: 15px;
	box-shadow: 0 20px 30px #223;
}

#YouWin {
	position: absolute;
	font-size: 120px;
	color: #0F0;
	width: 160px;
	bottom: 0;
}

.info {
	background-color: #44494F;
	border-radius: 10px;
	margin: 20px auto;
	padding: 1px 20px 20px;
	width: 600px;
	box-shadow: 0 10px 10px #223;
	color: white;
}

.info h3 {
	font-weight: bold;
}

.info p {
	text-indent: 2em;
}

[id^=cell] {
	width: 206px;
	height: 206px;
	float: left;
	border: 6px #44494F solid;
}

[id^=target] {
	width: 40px;
	height: 40px;
	float: left;
	border: 2px #44494F solid;
}

#target1 {
	border-top-left-radius: 5px;
}

#target3 {
	border-top-right-radius: 5px;
}

#target7 {
	border-bottom-left-radius: 5px;
}

#target9 {
	border-bottom-right-radius: 5px;
}

#cell1 {
	border-top-left-radius: 15px;
}

#cell3 {
	border-top-right-radius: 15px;
}

#cell7 {
	border-bottom-left-radius: 15px;
}

#cell9 {
	border-bottom-right-radius: 15px;
}
